* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

body {
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(151,1,178,0.8913690476190477) 100%);
}

main {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

hr {
  font-weight: bold;
  height: 3px;
  background: black;
  margin-bottom: 10px;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.main button {
  width: 100px;
  height: 100px;
  margin: 5px;
  cursor: pointer;
  font-size: 50px;
  background: #f7f7f7;
}