*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-image: url(img/cidade_files/pngtree-chongqing-city-road-car-advertising-background-map-png-image_2214298.jpg);
    background-size: cover;
}


.semaforo{
    width: 200px;
    height: 300px;
    border-radius: 40px;
    display: grid;
    place-items: center;
    background-color: #2c3e50;
    padding: 10px;
}
.luces-circulo{
    display: block;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: rgb(0, 0,0,0.3);
    position: relative;
}
.luces-circulo::after{
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-right: 4px solid rgb(255, 255,255,0.6);
    top: 4.5%;
}
.red{
    background-color: red;
    box-shadow: 0 0 10px 1px red;
}
.yellow{
    background-color: yellow;
    box-shadow: 0 0 10px 1px yellow;
}
.green{
    background-color: limegreen;
    box-shadow: 0 0 10px 1px limegreen;
}